table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
form {
  display: inline-block;
}
.main {
  display: flex;
  flex-direction: column;
}
.content {
  margin-top: 20px;
  margin-left: 7%;
}
.symbols {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  background-color: #ccc;
  color: rgb(0, 0, 0);
  font: bold 20px Arial, sans-serif;
  margin: 0 4px;
}
.banner {
  width: 98%;
  height: 45px;
  background-image: linear-gradient(to right, yellow, red);
  border-radius: 5px;
  padding: 20px;
}
.banner .title {
  text-align: center;
  margin-top: -3px;
  float: right;
}
.banner .buttons {
  float: left;
}
.banner .buttons button {
  --border: 4px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #000; /* the color */
  
  margin-left: 10px;
  font-size: 25px;
  padding: 0.3em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
}
.banner .buttons button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
.banner .buttons button:hover,
.banner .buttons button:active{
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
.banner .buttons button:active {
  --s: #0005;
  transition: none;
}


/* WEBSITE TITLE HOVER EFFECT */
.banner .title button {
  --border: 4px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #fff; /* the color */
  
  margin-left: 10px;
  font-size: 30px;
  padding: 0.3em 1.2em;
  border: none;
  font-weight: bold;
  color: var(--color);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top    right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
  transition: color var(--t,0.3s), background-size 0.3s;
}
.banner .title button:focus-visible {
  outline-offset: calc(-1*var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
.banner .title button:hover,
.banner .title button:active{
  background-size: 100% 100%;
  color: #000;
  --t: 0.2s 0.1s;
}
.banner .title button:active {
  --s: #0005;
  transition: none;
}